@page "/blazor/demoproduct"

<h2 class="text-primary">Demo Product</h2>
<p>Favourites Total: @SelectedFavouriteCount</p><br />
<p>Last Selected Product: @LastSelected </p>
<div class="border p-2 mt-2" style="background:azure">
    <div class="row">
        @foreach(var p in products)
        {
           <_IndividualProduct Product="p" OnFavouriteSelection="FavouriteCountUpdate" OnLastSelected="LastSelectedCount">
               <ProductContent>RF from Parent- #1 #2</ProductContent>
           </_IndividualProduct>
        }
     
</div>
</div>

@code {
    List<Product> products = new();
    private int SelectedFavouriteCount { get; set; } = 0;
    private string LastSelected { get; set; } = "";

    protected override void OnInitialized()
    {
        products.Add(
            new Product
                {

                    Id = 2,
                    Name = "Midnight Blaze",
                    IsActive = true,
                    Price = 15,
                    ProductProperties = new List<ProductProp>()
                {
                new ProductProp() { Id = 1, Key = "Color", Value = "Black" },
                new ProductProp() { Id = 2, Key = "Flavor", Value = "Jasmine" },
                new ProductProp() { Id = 3, Key = "Size", Value = "20oz" }
                }
                });

        products.Add(
            new()
                {
                    Id = 3,
                    Name = "Blossom Lily",
                    IsActive = true,
                    Price = 11.99,
                    ProductProperties = new List<ProductProp>()
                    {
                new ProductProp() { Id = 1, Key = "Color", Value = "Black" },
                new ProductProp() { Id = 2, Key = "Flavor", Value = "Jasmine" },
                new ProductProp() { Id = 3, Key = "Size", Value = "20oz" }
                    }
                }); 
    }

    protected void FavouriteCountUpdate(bool isSelected)
    {
        if (isSelected)
        {
            SelectedFavouriteCount++;
        }
        else
            SelectedFavouriteCount--;
    }

    protected void LastSelectedCount(string productName)
    {
        LastSelected = productName;
    }

}
